*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines the size of 1 rem
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  @include respond(tab-land) {
    font-size: 56.25%; //1 rem = 9px 9/16
  }

  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px 8/16
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
}
