// PROJECT COLORS
$color-black: rgb(1, 1, 1);

$color-grey-1: rgb(27, 27, 29);
$color-grey-2: rgb(40, 39, 44);
$color-grey-3: rgb(45, 44, 49);
$color-grey-4: rgb(62, 60, 67);
$color-grey-5: rgb(102, 99, 114);
$color-grey-6: rgb(234, 237, 242);
$color-grey-lightest: rgb(250, 250, 250);

$color-blueprint-grey-1: #182026;
$color-blueprint-grey-2: #202b33;
$color-blueprint-grey-3: #293742;
$color-blueprint-grey-4: #30404d;
$color-blueprint-grey-5: #394b59;
$color-blueprint-grey-6: #5c7080;
$color-blueprint-grey-7: #738694;
$color-blueprint-grey-8: #8a9ba8;
$color-blueprint-grey-9: #a7b6c2;
$color-blueprint-grey-10: #bfccd6;
$color-blueprint-grey-11: #ced9e0;
$color-blueprint-grey-12: #d8e1e8;
$color-blueprint-grey-13: #e1e8ed;
$color-blueprint-grey-14: #ebf1f5;
$color-blueprint-grey-15: #f5f8fa;
// POSSIBLE COLORSETS
// Element
$color-element-blue: #409eff;
$color-element-green: #67c23a;
$color-element-yellow: #e6a23c;
$color-element-red: #f56c6c;
$color-element-grey: #909399;

$color-element-grey-1: #303133;
$color-element-grey-2: #606266;
$color-element-grey-3: #909399;
$color-element-grey-4: #c0c4cc;
$color-element-border-1: #dcdfe6;
$color-element-border-2: #e4e7ed;
$color-element-border-3: #ebeef5;
$color-element-border-4: #f2f6fc;

//MATERIAL
$color-material-red: #d32f2f;
$color-material-purple: #5e35b1;
$color-material-indigo: #3f51b5;
$color-material-blue: #1e88e5;
$color-material-lightblue: #03a9f4;
$color-material-green: #43a047;
$color-material-lightgreen: #8bc34a;
$color-material-yellow: #fbc02d;
$color-material-amber: #ffb300;
$color-material-orange: #ff9800;
$color-material-brown: #795548;
$color-material-grey: #9e9e9e;
$color-material-bluegrey: #607d8b;

$color-material-grey-1: #212121;
$color-material-grey-2: #424242;
$color-material-grey-3: #616161;
$color-material-grey-4: #757575;
$color-material-grey-5: #9e9e9e;
$color-material-grey-6: #bdbdbd;
$color-material-grey-7: #e0e0e0;
$color-material-grey-8: #eeeeee;
$color-material-grey-9: #f5f5f5;

//foundation
$color-foundation-red: rgb(169, 41, 55);
$color-foundation-green: rgb(118, 180, 69);
$color-foundation-purple: rgb(129, 89, 179);
$color-foundation-blue: rgb(46, 123, 169);
$color-foundation-yellow: rgb(249, 169, 0);

//site colors
$color-light-blue: rgb(51, 153, 254);

$color-green-dark: #1d7324;
$color-green-light: #96ba61;
$color-blue-dark: #1f4b99;
$color-blue-light: #6cacb9;
//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-blue-dark: rgb(25, 69, 95);
$color-blue-2: rgb(41, 122, 198);
$color-test-yellow-1: rgb(255, 204, 51);
$color-test-yellow-2: #ffb900;
$color-test-green-1: rgb(102, 204, 51);
$color-test-green-2: rgb(72, 164, 21);
$color-gold: rgb(115, 87, 45);
$color-green: rgb(117, 148, 34);
$color-red-dark: rgb(135, 33, 1);
