#Commentbox {
  height: 64.2rem;
  margin: 1rem;
  overflow-y: scroll;
}

.Chat {
  width: 30rem;

  border-left: none;
  height: 82rem;
  &__header {
    font-size: 2rem;
    padding: 0.5rem;
  }
  &__profile {
    text-align: center;
    margin-top: 4rem;

    &--message {
      font-size: 1.6rem;
      margin: 0rem 2rem;
    }
  }

  &__messages {
    // height: 64.2rem;
    // margin: 1rem;
    // overflow-y: scroll;
  }
  &__message {
    margin-bottom: 1rem;
    width: 280px;

    &--info {
      font-size: 1.4rem;
      color: $color-red-dark;
      display: inline-block;
    }
    &--author {
      font-size: 1.6rem;
    }
    &--time {
      font-size: 1.2rem;
      color: $color-grey-5;
    }
    &--content {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      width: 280px;
      word-wrap: break-word;
    }
  }
  &__welcome {
    font-size: 1.6rem;
    color: $color-grey-5;
    margin-bottom: 1rem;
    &--handle {
      color: $color-black;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: row;

    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
  }
  &__input {
    padding-left: 1rem;
    width: 23.3rem;
    border: none;
    resize: none;
    margin: 0 0.5rem;
    border-radius: 2px;
    padding: 0.5rem;
  }
  &__input:focus {
    outline: none !important;

    box-shadow: 0 0 5px #719ece;
  }
  &__submit {
    border-radius: 4px;
    margin: 0.5rem 0;
    margin-right: 0.5rem;
    background-color: $color-grey-4;
    color: white;
    border: none;
  }
}

.ChatAvatar {
  width: 2rem;
  height: 2rem;
  margin-bottom: -0.4rem;
}
