.CreateProfile {
  height: 100vh;
  text-align: center;
  color: rgb(240, 240, 240);
  &__header {
    font-size: 4.8rem;
  }
  &__text {
    font-size: 2rem;
  }
  &__required {
    font-size: 1.6rem;
  }
  &__label {
    font-size: 3.2rem;
  }
  &__avatars {
    display: flex;
    justify-content: center;
  }
  &__submit {
    padding: 1.2rem 2.4rem;
    font-size: 2.4rem;
    border-radius: 4px;
  }
  &__selected {
    border: 2px solid $color-red-dark;
    border-radius: 4px;
  }
}

.Avatar {
  height: 12rem;
  width: 12rem;
}
