.CreateProfile {
  height: 100vh;
  text-align: center;
  color: rgb(240, 240, 240);
  &__header {
    font-size: 3.6rem;
    margin: 1rem 0;
  }
  &__text {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__label {
    font-size: 3.2rem;
    margin: 2rem 0;
  }
  &__avatars {
    display: flex;

    width: 72.6rem;
    margin: 0 auto;
    border: 1px solid $color-grey-5;
    background-color: $color-grey-2;
    padding: 1rem;
  }
  &__submit {
    padding: 0.7rem 1.4rem;
    font-size: 2.4rem;
    border-radius: 4px;
    margin-top: 2rem;
  }
  &__selected {
    border: 2px solid $color-red-dark;
    border-radius: 4px;
  }
}

.Avatar {
  height: 10rem;
  width: 10rem;
}
