.Sidebar {
  width: 30rem;
  padding: 0 2rem;
  &__header {
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 30rem;
    font-weight: bold;
    padding-right: 8rem;
  }
  &__text {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding-right: 4rem;
  }
  &__buttons {
    padding-right: 4rem;
  }
  &__back {
    background-color: white;
    color: $color-grey-5;
    border: 1px solid $color-grey-5;
    &--icon {
      margin-right: 0.7rem;
    }
  }

  &__auth {
    width: 30rem;

    text-align: center;
    margin-top: 1rem;
    padding-right: 4rem;
  }
  &__login {
    margin-right: 1.2rem;
  }
  &__register {
  }
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: $color-black;
  height: 4.2rem;
  line-height: 4.2rem;
  padding: 0 20rem;
  &__left {
  }
  &__right {
  }
  &__link {
    text-decoration: none;
    font-size: 3rem;

    padding: 0 2rem;
    color: black;
  }
  &__dropdown {
    text-decoration: none;
    font-size: 3rem;
    color: $color-black;
    padding: 0 2rem;
    &--link {
      text-decoration: none;
    }

    &--link:link,
    &--link:visited {
      color: $color-black;
    }
  }

  &__selected {
    font-weight: bold;
  }
  &__register {
    border: 1px solid white;
    border-radius: 10px;
  }
}

.dropbtn {
  color: white;

  border: none;
  cursor: pointer;
}

.Navbar__dropdown {
  position: relative;
  display: inline-block;
  padding-top: 0.2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 0.5rem 1rem 0px rgba(40, 40, 40, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 12px;
  display: block;
  font-size: 1.6rem;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.Navbar__dropdown:hover .dropdown-content {
  display: block;
}

.Navbar__dropdown:hover .dropbtn {
}

.dropdown-selection {
  cursor: pointer;
  text-decoration: none;
  height: 40px;
  line-height: 30px;
}
.dropdown-selection:hover {
  background-color: rgb(160, 160, 160);
}
