.Battles {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: rgb(240, 240, 240);
  &__top {
    display: flex;
    flex-direction: row;
  }
  &__bottom {
    display: flex;
  }
  &__votesection {
    text-align: center;
    margin-top: 3rem;
  }
  &__votebutton {
    padding: 1rem 2rem;
    font-size: 2.4rem;
    border-radius: 4px;
  }

  &__link {
    font-size: 2rem;
    text-decoration: none;
    color: $color-black;
    display: block;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;

    border: 2px solid $color-grey-1;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
  }
  &__signup {
    margin-bottom: 1.5rem;
  }
  &__login {
    margin-bottom: 1rem;
  }
  &__return {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    border: 1px solid $color-grey-4;
    border-radius: 2px;
    background-color: $color-grey-5;
    display: inline-block;
    padding: 0.2rem 0.9rem;
    cursor: pointer;
  }
  &__voted {
    text-align: center;
    font-size: 2.4rem;
    color: rgb(250, 250, 250);
    &--text {
      font-size: 2rem;
    }
  }
  &__BattleLogin {
    background-color: $color-grey-1;
    text-align: center;
  }
  &__BattleRegister {
    background-color: $color-grey-1;
    text-align: center;
  }
}

.Battle {
  width: 500px;
  padding: 1rem;
  border: 1px solid black;
  height: 350px;
  background-color: $color-grey-3;
  &__category {
    font-size: 2rem;
    color: $color-grey-lightest;
    margin-bottom: 1rem;
  }
  &__heroes {
    display: flex;
    justify-content: space-around;
  }
  &__heroName {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 0.5rem;
    color: $color-grey-lightest;
  }
  &__hero {
    border: 1px solid $color-grey-2;
    border-radius: 4px;
    padding: 1.6rem;
    background-color: $color-grey-4;
    box-shadow: 2px 0.3rem 0.6rem $color-grey-3;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  &__hero2 {
  }
  &__selected {
    border: 3px solid #c23030;
  }
  &__results {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 20px;
    margin-top: 1rem;
  }
  &__votes {
    color: white;
    text-align: center;
  }
  &__voted {
    text-align: center;
    color: $color-grey-lightest;
    padding: 1rem;
    &--header {
      font-size: 3.6rem;
    }
    &--text {
      font-size: 2.4rem;
    }
  }

  // &__videogames {
  //   background-color: $color-green-dark;
  // }
  // &__movies {
  //   background-color: $color-blue-light;
  // }
  // &__superheroes {
  //   background-color: $color-green-light;
  // }
  // &__mythology {
  //   background-color: $color-blue-dark;
  // }
}

.ResultsBar {
  position: relative;
  height: 25px;
  width: 160px;
  border-radius: 1.6rem;
  border: 1px solid #333;

  &__progress {
    background: $color-red-dark;
    height: 100%;
    border-radius: inherit;
    text-align: center;
    color: white;
    font-size: 2rem;
  }

  &__videogames {
    background-color: $color-foundation-blue;
  }
  &__movies {
    background-color: $color-material-yellow;
  }
  &__superheroes {
    background-color: $color-foundation-green;
  }
  &__mythology {
    background-color: $color-foundation-purple;
  }
}
