.Battles {
  width: 900px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 82rem;
  color: $color-black;

  &__votesection {
    text-align: center;
    height: 7.6rem;
  }
  &__votebutton {
    margin: 1.2rem 0;
    font-size: 2.4rem;
    border-radius: 4px;
    height: 5.2rem;
  }
  &__voted {
    text-align: center;
    font-size: 2.4rem;
    line-height: 7.4rem;
    &--text {
      font-size: 2rem;
      line-height: 7.4rem;
    }
  }
}

.Battle {
  width: 90rem;
  position: relative;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $color-black;
  &__category {
    position: absolute;
    font-size: 2rem;
    top: 0.5rem;
    left: 1rem;
    font-weight: bold;
  }
  &__hero1 {
    display: flex;
    justify-content: space-around;
    width: 40rem;
  }
  &__hero2 {
    display: flex;
    justify-content: space-around;
    width: 40rem;
  }
  &__heroName {
    font-size: 2.4rem;
    margin-top: 0.5rem;
    color: $color-black;
  }
  &__hero {
    border: 1px solid $color-grey-5;
    border-radius: 4px;
    text-align: center;
    padding: 0.5rem;

    width: 12.5rem;
    margin: 0.9rem 0.4rem;
    box-shadow: 1px 2px 4px $color-grey-5;
  }
  &__hero1details {
    width: 26rem;
    text-align: center;
    padding-right: 1rem;
    padding-top: 3rem;
  }

  &__hero1image {
    width: 13.5rem;
    height: 17.5rem;
  }
  &__hero2image {
    width: 13.5rem;
    height: 17.5rem;
  }
  &__versus {
    padding: 4rem 1rem;

    &--image {
      height: 8rem;
    }
  }
  &__hero2details {
    width: 26rem;
    text-align: center;
    padding-left: 1rem;
    padding-top: 3rem;
  }

  &__selected {
    border: 5px solid $color-material-indigo;
    margin: 0.4rem;
  }

  &__results {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 2rem;
    margin-top: 1rem;
  }
  &__hero1results {
    width: 20rem;
    margin: 0.5rem auto;
    font-size: 1.6rem;
  }
  &__hero2results {
    width: 20rem;
    margin: 0.5rem auto;
    font-size: 1.6rem;
  }
  &__votes {
    margin-top: 1rem;
  }
  &__voted {
    text-align: center;
    color: $color-black;
    padding: 1rem;
    &--header {
      font-size: 3.6rem;
    }
    &--text {
      font-size: 2.4rem;
    }
  }
}

.ResultsBar {
  position: relative;
  height: 2.5rem;
  width: 20rem;
  border-radius: 1.6rem;
  border: 1px solid #333;
  animation: expandWidth 0.7s ease-in-out;

  &__progress {
    height: 100%;
    border-radius: inherit;
    color: white;
    font-size: 2rem;
  }

  &__videogames {
    background-color: $color-foundation-green;
  }
  &__movies {
    background-color: rgba($color-material-yellow, 0.9);
  }
  &__superheroes {
    background-color: rgba($color-material-red, 0.9);
  }
  &__mythology {
    background-color: $color-foundation-purple;
  }
}
