.Heroes {
  &__container {
    display: flex;
    width: 90rem;
    height: 82rem;

    margin: 0 auto;
    @include respond(tab-land) {
      height: 76rem;
      width: 72rem;
    }
    @include respond(tab-port) {
    }
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
}

.Sidenav {
  width: 24rem;
  display: flex;
  flex-direction: column;

  height: 82rem;
  border: 1px solid $color-black;
  border-right: none;

  @include respond(tab-land) {
    height: 76rem;
    width: 22rem;
  }
  @include respond(tab-port) {
  }
  @include respond(phone) {
    flex-direction: row;
    width: 50rem;
    height: 6rem;
    border-right: 1px solid $color-black;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: 3.6rem;
    text-align: center;
    color: $color-black;
    text-decoration: none;
    padding: 1rem 0;
    @include respond(phone) {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-black;
    font-size: 2rem;
    background-color: white;
    border: 1px solid $color-grey-5;
    margin: 0 1rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    padding: 0.8rem 1.4rem;
    display: block;
    @include respond(phone) {
      font-size: 1.2rem;
      padding: 0.4rem 1.2rem;
      text-align: center;
    }
    &--selected {
      color: white;

      &--vg {
        background-color: $color-foundation-green;
      }
      &--movie {
        background-color: rgba($color-material-yellow, 0.9);
      }
      &--super {
        background-color: rgba($color-material-red, 0.9);
      }
      &--myth {
        background-color: $color-foundation-purple;
      }
    }
  }
  &__heroes {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  &__hero {
    &--selected {
      background-color: $color-grey-6;
      margin-left: 1rem;
      padding-left: -1rem;
    }
    &--link {
      text-decoration: none;
      font-size: 1.6rem;
      color: $color-black;

      padding: 0.4rem 2rem;
      display: block;
      @include respond(phone) {
        display: none;
      }
    }
  }

  &__label {
    @include respond(phone) {
      height: 3.6rem;
    }
  }
}

.HeroPreview {
  &__display {
    padding: 1rem;
    border: 1px solid $color-black;
    height: 82rem;
    @include respond(tab-land) {
      height: 76rem;
      width: 50rem;
    }
    @include respond(tab-port) {
    }
    @include respond(phone) {
      height: 67rem;
    }
  }
  &__label {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }

  &__heroes {
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    border: 1px solid $color-grey-3;
    background-color: white;
    width: 14.9rem;
    height: 18.3rem;
    border-radius: 4px;
    margin: 0 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem 0;
    text-decoration: none;
    font-size: 1.4rem;
    color: $color-black;
    box-shadow: 1px 2px 4px $color-grey-5;
    @include respond(tab-land) {
      width: 10.9rem;
      height: 16.9rem;
      margin: 0 0.5rem;
      margin-bottom: 1rem;
    }
    @include respond(tab-port) {
      width: 10.9rem;
      height: 16.7rem;
      margin: 0 0.5rem;
      margin-bottom: 1rem;
    }
    @include respond(phone) {
      height: 14.4rem;
      font-size: 1.2rem;
    }
  }
}

.HeroDetails {
  padding: 2rem 3rem;
  border: 1px solid $color-black;
  height: 82rem;

  @include respond(tab-land) {
    height: 76rem;
  }
  @include respond(tab-port) {
  }
  @include respond(phone) {
    width: 50rem;
    height: 64rem;
  }
  &__name {
    font-size: 4rem;
    margin-bottom: 1rem;
    @include respond(tab-land) {
      font-size: 3.6rem;
      margin-bottom: 0.5rem;
    }
    @include respond(tab-port) {
      font-size: 2.8rem;
    }
    @include respond(phone) {
      font-size: 2.2rem;
    }
  }
  &__from {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    @include respond(tab-land) {
      font-size: 2rem;
    }
    @include respond(tab-port) {
      font-size: 1.6rem;
    }
    @include respond(phone) {
      font-size: 1.2rem;
    }
  }
  &__category {
    font-size: 2rem;
    margin: 1rem 0;
    @include respond(tab-land) {
      font-size: 1.8rem;
    }
    @include respond(tab-port) {
      font-size: 1.4rem;
    }
  }
  &__description {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    @include respond(tab-land) {
      font-size: 1.5rem;
    }
    @include respond(phone) {
      font-size: 1.2rem;
    }
  }
  &__section {
  }
}

.HeroList {
  border: 1px solid $color-black;
  width: 70rem;
  height: 82rem;
  padding: 2rem 2rem;

  text-align: center;

  @include respond(tab-land) {
    height: 76rem;
  }
  @include respond(tab-port) {
  }
  @include respond(phone) {
    width: 60rem;
  }
  &__header {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  &__heroes {
    display: flex;
  }
  &__section {
    flex-basis: 25%;
  }
  &__label {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    &--vg {
      color: $color-foundation-green;
    }
    &--movie {
      color: rgba($color-material-yellow, 0.9);
    }
    &--super {
      color: rgba($color-material-red, 0.9);
    }
    &--myth {
      color: $color-foundation-purple;
    }
  }
  &__list {
  }
  &__hero {
    margin-left: 2rem;
    font-size: 1.4rem;
    text-align: left;
  }
  &__message {
    margin: 2rem 0;
    font-size: 1.4rem;
  }
}
