.Dashboard {
  min-height: 100vh;

  &__title {
    font-size: 4rem;
    text-align: center;
    color: rgb(250, 250, 250);
    margin: 1rem 0;
  }
  &__profile {
    margin: 0 auto;
    width: 600px;
    max-width: 600px;
    color: rgb(250, 250, 250);
    overflow: hidden;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 4px;
    display: flex;

    &--content {
      padding: 1rem;
    }
    &--message {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &--info {
      display: flex;
    }
    &--handle {
      font-size: 4.8rem;
      margin-left: 2rem;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    color: rgb(250, 250, 250);
    font-size: 3rem;
  }
  &__navlink {
    color: rgb(240, 240, 240);
    text-decoration: none;
    padding: 1rem 2rem;
  }
  &__emoji {
    margin-left: 0.5rem;
  }
  &__noprofile {
    padding-bottom: 3rem;
    text-align: center;
    color: rgb(240, 240, 240);
    &--welcome {
      font-size: 3rem;
      margin: 2rem 0;
    }
    &--text {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    &--link {
      text-decoration: none;
      color: rgb(240, 240, 240);
      border: 4px solid $color-blue-dark;
      padding: 1rem 1.6rem;
      font-size: 2rem;
      border-radius: 2px;
    }
    &--link:hover {
      background-color: $color-blue-dark;
      transition: all 0.3s;
    }
  }
}
.TrophyCount {
  margin-left: 4rem;
  line-height: 6.4rem;
}

.Trophies {
  height: 100vh;
  color: rgb(240, 240, 240);

  &__result {
    font-size: 2rem;
    text-align: center;
    &--date {
      background-color: $color-grey-5;
      width: 12rem;
      padding: 1rem;
    }
    &--hero1 {
    }
    &--hero2 {
    }
  }
  &__table {
    margin: 0 auto;
  }
  &__videogames {
    background-color: $color-foundation-blue;
  }
  &__movies {
    background-color: $color-material-yellow;
    color: black;
  }
  &__superheroes {
    background-color: $color-foundation-green;
  }
  &__mythology {
    background-color: $color-foundation-purple;
  }
}

.TrophyCount {
  font-size: 3rem;
}

.Suggestions {
  height: 100vh;

  &__form {
    width: 40rem;
    margin: 0 auto;
  }
  &__display {
    display: flex;
    justify-content: center;
    color: rgb(240, 240, 240);
    font-size: 2.4rem;
  }

  &__videogames {
  }
  &__movies {
  }
  &__superheroes {
  }
  &__mythology {
  }
  &__options {
  }
  &__icon {
    height: 20px;
    font-size: 20px;
  }
  &__voting {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__label {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__hero {
    border: 1px solid black;
    width: 25rem;
    background-color: $color-grey-1;
    padding: 0.5rem 1rem;
    display: flex;

    height: 76px;
    border-radius: 2px;
    margin-left: 1rem;
    margin-right: 1rem;
    &--upvote {
      height: 20px;
    }
    &--votes {
      font-size: 2rem;
      height: 2.4rem;
      text-align: center;
    }
    &--downvote {
      height: 20px;
    }
    &--name {
      font-size: 2rem;
      line-height: 7rem;
      margin-left: 1rem;
      overflow-wrap: normal;
      overflow: hidden;
    }
  }
  &__upvote--selected {
    color: orange;
  }
  &__downvote--selected {
    color: blue;
  }
  &__submit {
    padding: 1.2rem 2.4rem;
    font-size: 2.4rem;
    border-radius: 4px;
    margin: 2rem 0;
  }
}

.Brackets {
  height: 100vh;
}
