.Dashboard {
  height: 82rem;
  width: 90rem;
  border: 1px solid $color-black;

  &__title {
    font-size: 3.6rem;
    text-align: center;
    color: $color-black;
    margin: 1rem 0;
  }
  &__profile {
    margin: 0 auto;
    width: 600px;
    max-width: 600px;
    color: $color-black;
    overflow: hidden;
    border: 1px solid $color-black;
    border-radius: 4px;
    display: flex;
    margin-top: 2rem;

    &--content {
    }
    &--message {
      font-size: 2rem;
      margin-top: 1rem;
    }
    &--info {
      display: flex;
    }
    &--handle {
      font-size: 4.8rem;
      margin-left: 2rem;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    color: $color-black;
    font-size: 3rem;
  }
  &__navlink {
    color: $color-black;
    text-decoration: none;
    font-size: 1.6rem;
    background-color: $color-grey-6;
    padding: 0.4rem 0.8rem;
    border: 1px solid $color-grey-3;
    border-radius: 2px;
    margin-top: 2rem;
    cursor: pointer;
  }
  &__emoji {
    margin-left: 0.5rem;
  }
  &__noprofile {
    padding-bottom: 3rem;
    text-align: center;
    color: $color-black;
    &--welcome {
      font-size: 3rem;
      margin: 2rem 0;
    }
    &--text {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    &--link {
      text-decoration: none;
      color: $color-black;
      border: 2px solid rgb(180, 180, 180);
      background-color: $color-grey-6;
      padding: 1rem 1.6rem;
      font-size: 2rem;
      border-radius: 2px;
    }
  }
}
.TrophyCount {
  margin-left: 4rem;
  line-height: 6.4rem;
}

.Trophies {
  width: 90rem;
  height: 82rem;
  border: 1px solid $color-black;
  overflow-y: scroll;
  &__result {
    font-size: 2rem;
    text-align: center;

    &--date {
      width: 12rem;
      padding: 1rem;
    }
    &--hero {
      padding: 0 1rem;
    }
    &--hero1 {
    }
    &--hero2 {
    }
  }
  &__icon {
    line-height: 4.4rem;
  }
  &__table {
    margin: 0 auto;
  }

  &__videogames {
    background-color: $color-foundation-green;
  }
  &__movies {
    background-color: rgba($color-material-yellow, 0.9);
  }
  &__superheroes {
    background-color: rgba($color-material-red, 0.9);
  }
  &__mythology {
    background-color: $color-foundation-purple;
  }
}

.TrophyCount {
  font-size: 3rem;
}

.Suggestions {
  width: 90rem;
  height: 82rem;
  border: 1px solid $color-black;
  overflow-y: scroll;
  &__form {
    width: 40rem;
    margin: 0 auto;
    text-align: center;
  }
  &__display {
    display: flex;
    justify-content: center;
    color: $color-black;
    font-size: 2.4rem;
  }

  &__videogames {
  }
  &__movies {
  }
  &__superheroes {
  }
  &__mythology {
  }
  &__options {
  }
  &__icon {
    height: 20px;
    font-size: 20px;
    color: rgba($color-grey-5, 0.64);
    cursor: pointer;
  }
  &__voting {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__label {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__hero {
    border: 1px solid $color-black;
    width: 20rem;
    background-color: white;
    padding: 0.5rem 1rem;
    display: flex;

    height: 72px;
    border-radius: 2px;
    margin: 0 1rem;
    margin-bottom: 1rem;
    &--upvote {
      height: 20px;
    }
    &--votes {
      font-size: 1.6rem;
      height: 2rem;
      text-align: center;
    }
    &--downvote {
      height: 20px;
    }
    &--name {
      font-size: 2rem;
      line-height: 6rem;
      margin-left: 2rem;
      overflow-wrap: normal;
      overflow: hidden;
    }
  }
  &__upvote--selected {
    color: #ffb300;
  }
  &__downvote--selected {
    color: rgb(41, 122, 198);
  }
  &__submit {
    padding: 0.7rem 1.4rem;
    font-size: 2rem;
    border-radius: 4px;
    margin: 1rem 0;
  }
}

.Brackets {
  width: 90rem;
  height: 82rem;
  border: 1px solid $color-black;
  &__welcome {
    text-align: center;
    font-size: 2rem;
  }
}
