.TextFieldGroup {
  margin-bottom: 0.5rem;
  color: rgb(240, 240, 240);
  &__input {
    background-color: $color-grey-4;
    height: 3rem;
    font-size: 1.6rem;
    border: none;
    border: 1px solid $color-grey-5;
    margin-left: 0.2rem;
    color: rgb(240, 240, 240);
  }

  &__info {
    font-size: 1.4rem;
  }
  &__error {
    font-size: 1.4rem;
  }
  &__icon {
    font-size: 2rem;
  }
  &__email {
    font-size: 1.2rem;
    background-color: $color-grey-1;
    padding: 0.5rem;
    width: 2.4rem;
    text-align: center;
    border: 1px solid $color-grey-5;
    border-radius: 2px;
  }
  &__password {
    font-size: 1.4rem;
    background-color: $color-grey-1;
    padding: 0.4rem;
    width: 2.4rem;
    text-align: center;
    border: 1px solid $color-grey-5;
    border-radius: 2px;
  }
}
.SelectListGroup {
  color: rgb(240, 240, 240);
  &__input {
    background-color: $color-grey-4;
    height: 2.4rem;
    border: none;
    border: 1px solid $color-grey-5;
    margin-left: 0.2rem;
    color: rgb(240, 240, 240);
  }
  &__info {
    font-size: 1.4rem;
  }
  &__error {
    font-size: 1.4rem;
  }
}
