.Register {
  text-align: center;
  color: $color-black;
  height: 100vh;
  &__header {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__submit {
    background-color: white;
    padding: 0.7rem 1.4rem;
    border: 1px solid $color-grey-3;
    border-radius: 2px;
    margin: 1rem 0;
    cursor: pointer;
  }
}
.Login {
  height: 100vh;
  text-align: center;
  color: $color-black;

  &__header {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__submit {
    background-color: $color-grey-6;
    padding: 0.7rem 1.4rem;
    border: 1px solid $color-grey-3;
    border-radius: 2px;
    margin: 1rem 0;
    cursor: pointer;
  }
}
.BattleRegister {
  width: 37rem;
  margin: 0 auto;

  padding: 1rem 3rem;
  border-radius: 2px;
}
.BattleLogin {
  width: 37rem;
  margin: 0 auto;

  padding: 1rem 3rem;
  border-radius: 2px;
}
